@charset "utf-8";





html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


.header {
	position: fixed;
	top: 0;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 100;
	padding: 20px;
	padding-top: 40px;
	width: 100%;
	height: 100px;
	z-index: 10;
	
	  -webkit-box-shadow: inset 10px 70px 70px -30px rgba(250,250,250,1);
    -moz-box-shadow: inset 10px 70px 70px -30px rgba(250,250,250,1);
    box-shadow: inset 10px 90px 60px -10px rgba(250,250,250,1);
	

}

.header-link {
	text-decoration: none;
	color: #333;
	transition: all .3s ease;
	padding: 20px;
	cursor: default;
}

.header-link:hover {
	color: #aaa;
	cursor: default;
}


.main-container {
	width: 100%;
	height: 100%;
	position: absolute;
	
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.main {

	width: 100%;
	padding: 20px;
	font-family: 'Rajdhani', sans-serif;
	color: #333;
	position: absolute;
	top: 75px;
	max-width: 700px;
}

.background {
	background-image: url('../img/cover.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: .1;
	position: fixed;
}



.title {
	font-size: 60px;
	font-weight: 500;
	text-align: center;
	
	margin-bottom: 20px;
}

.subtitle {
	font-size: 40px;
	margin-bottom: 20px;
}

.container {
	margin-top: 40px;
	margin-bottom: 40px;
}

#photography {
	display: flex;
	flex-direction: column;
}

.photography-flex {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.photography-image {
	width: 30%;
	margin-right: 20px;
}

.photography-image-item {
	width: 100%;
}

.photography-text {
	width: 70%;
}


#effects {
	display: flex;
	flex-direction: column;
}

.effects-flex {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.effects-image {
	width: 50%;
	margin-right: 20px;
}

.effects-image-item {
	width: 48%;
}

.effects-text {
	width: 50%;
}



#video {
	display: flex;
	flex-direction: column;
}

.video-flex {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.video-image {
	width: 50%;
	margin-right: 20px;
}

.video-image-item {
	width: 100%;
}

.video-text {
	width: 50%;
}



#results {
	display: flex;
	flex-direction: column;
}

.results-image {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.results-image-item {
	width: 100%;
}














@media (max-width: 500px) {
	
	.header {
	position: fixed;
	top: 0;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 100;
	padding: 20px;
	padding-top: 40px;
	width: 100%;
	height: 100px;
	z-index: 10;
	
	  -webkit-box-shadow: inset 10px 70px 70px -30px rgba(250,250,250,1);
    -moz-box-shadow: inset 10px 70px 70px -30px rgba(250,250,250,1);
    box-shadow: inset 10px 90px 60px -10px rgba(250,250,250,1);
	

		display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}
	
	
#photography {
	display: flex;
	flex-direction: column;
}

.photography-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.photography-image {
	width: 100%;
	margin-right: 20px;
}

.photography-image-item {
	width: 100%;
}

.photography-text {
	width: 100%;
	margin-bottom: 10px;
}
	
	#order-1 {
		order: 1;
	}
	
	#order-2 {
		order: 2;
	}
	
	
	
	
	
#effects {
	display: flex;
	flex-direction: column;
}

.effects-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.effects-image {
	width: 100%;
}

.effects-image-item {
	width: 48%;
}

.effects-text {
	width: 100%;
}
	
	
	
	
	
#video {
	display: flex;
	flex-direction: column;
}

.video-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.video-image {
	width: 100%;
}

.video-image-item {
	width: 100%;
	margin-bottom: 10px;
}

.video-text {
	width: 100%;
}



#results {
	display: flex;
	flex-direction: column;
}

.results-image {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.results-image-item {
	width: 100%;
}

	
	
	
	
	
}






   